{% load static %}
{% load static i18n %}<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}Notes{% endblock title %}</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

		{% block css %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<link href="{% static 'css/project.css' %}" rel="stylesheet">
		{% endblock %}
	</head>

	<body>
		<!-- navigation bar -->
		<header class="w-full px-8 text-yellow-400 bg-gray-800 py-3 mx-auto" >
			<div class="container flex flex-col flex-wrap items-center  py-1 mx-auto md:flex-row max-w-7xl">
			  <div class="relative flex flex-col md:flex-row">
				  <a href="{% url 'home' %}" class="flex items-center mb-3  font-medium text-gray-900 lg:w-auto lg:items-center lg:justify-center md:mb-0">
					  <span class="mx-auto text-xl font-black leading-none text-gray-900 select-none"><img src="{% static 'images/logo.svg' %}" alt="logo"></span>
				  </a>
				  {% if request.user.is_authenticated %}
				  <nav class="flex flex-wrap ml-10 items-center mb-3 text-base md:mb-0 md:pl-8 md:ml-8 md:border-l md:border-yellow-400">
					  <a href="{% url 'note:list' %}" class="no-underline mr-5 font-medium leading-6 text-yellow-400 hover:text-yellow-500">Notes</a>
					  <a href="#_" class="no-underline mr-5 font-medium leading-6 text-yellow-400 hover:text-yellow-500">Profile</a>
					  <a href="#_" class="no-underline mr-5 font-medium leading-6 text-yellow-400 hover:text-yellow-500">Add Note</a>
				  </nav>
			  </div>

			  <div class="inline-flex items-center md:ml-auto space-x-6 lg:justify-end">
				  <a href="#" class="no-underline text-base font-medium leading-6 border
							   border-yellow-400 px-6 py-2 rounded-md text-yellow-400 
							   whitespace-no-wrap transition duration-150 ease-in-out hover:text-yellow-500">
					  Help
				  </a>
				  <span class="inline-flex rounded-md shadow-sm">
					  <a href="{% url 'account_logout' %}" class="no-underline inline-flex items-center 
										justify-center border
										border-yellow-400 px-4 py-2 text-base font-medium leading-6 
										text-gray-800 whitespace-no-wrap transition duration-150 ease-in-out 
										bg-yellow-400 rounded-md hover:bg-yellow-500 
										focus:outline-none focus:border-gray-700">
						  Sign Out
					  </a>
				  </span>
			  </div>
			  {% else %}
				<nav class="flex flex-wrap ml-10 items-center mb-3  text-base md:mb-0 md:pl-8 md:ml-8 md:border-l md:border-yellow-400">
					<a href="{% url 'account_login' %}" class="no-underline mr-5 font-medium leading-6 text-yellow-400 hover:text-yellow-500">Sign In</a>
					<a href="{% url 'account_signup' %}" class="no-underline mr-5 font-medium leading-6 text-yellow-400 hover:text-yellow-500">Create Account</a>
				</nav>
			</div>
		  </header>
		  {% endif %}

		{% block content %}
      	{% endblock content %}
		
	</body>
</html>
