{% extends "base.html" %}

{% block title %}New Note{% endblock %}

{% block content %}

<h1>update Note</h1>
<form action="" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Update Note</legend>
        <div class="form-group p-4 my-4">
            <div class="form-group">
                <label for="title">Title</label><br>
                <input type="text" value="{{ note.title }}" name="title" placeholder="Note title" required id="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" placeholder="Type note description here" required id="content" cols="30" rows="10" class="form-control">{{ note.content }}</textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>
{% endblock content %}